* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Sora", sans-serif;
}

a {
   text-decoration: none;
   color: inherit;
}

li {
   list-style: none;
}

.btn {
   transition: scale 0.3s ease-in-out;

   &:hover {
      scale: 1.05;
   }
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #01321c;

   &_img {
      .logo {
         width: 100%;
      }
   }

   &_links {
      li {
         position: relative;

         &::before {
            content: "";
            position: absolute;
            width: 45px;
            height: 3px;
            top: 30px;
            left: 0;
            background-color: #ffc57f;
            transition: transform 0.3s ease-in-out;
            transform: scale(0);
         }

         &:hover {
            &::before {
               transform: scale(1);
            }
         }
      }
   }
}

.hero {
   text-align: center;
   background-color: #01321c;
   &-img {
      width: 100%;
      height: 100%;

      @media screen and (min-width: 600px) {
         width: 80%;
      }
   }

   &-explore {
      transition: all 0.3s ease-in-out;
      &:hover {
         gap: 25px;
      }
   }
}

.method {
   transition: all 0.3s ease-in-out;
   &:hover {
      box-shadow: 0 3px 10px #a1a1a1;
      border-radius: 8px;
   }
}

.explore {
   &-img {
      width: 100%;
      @media screen and (min-width: 600px) {
         width: 310px;
      }

      @media screen and (min-width: 900px) {
         width: 420px;
      }

      @media screen and (min-width: 1200px) {
         width: 530px;
      }
   }

   .vase-circle {
      position: relative;

      &::before {
         content: "";
         position: absolute;
         width: 330px;
         height: 330px;
         background-color: #ffc57f;
         border-radius: 50%;

         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         z-index: -1;

         @media screen and (max-width: 600px) {
            display: none;
         }

         @media screen and (min-width: 1200px) {
            width: 430px;
            height: 430px;
         }
      }
   }
}

.sidebar {
   position: fixed;
   top: -100%;
   right: 0;
   background-color: #fff;
   width: 100%;
   height: 40vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   box-shadow: 0 3px 6px #a1a1a1;
   transition: all 0.5s ease-in-out;

   &.active {
      top: 0;
   }

   &_links {
      display: flex;
      align-items: center;
      list-style: none;
      flex-direction: column;
      color: #01321c;
      font-weight: bold;
      gap: 20px;
   }

   &_close {
      position: absolute;
      top: 2em;
      right: 2em;
      cursor: pointer;

      display: flex;
      flex-direction: column;
      gap: 5px;

      svg {
         color: #01321c;
         font-size: 1.5em;
      }
   }
}

.about {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 100px;
   text-align: center;

   margin-top: 100px;
   background-image: url("./assets/nurtifeed-plant_3.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   width: 100%;
   height: 100vh;

   @media screen and (min-width: 900px) {
      background-position: right;
      padding-left: 120px;
      align-items: flex-start;
   }

   img {
      width: 300px;

      @media screen and (min-width: 600px) {
         width: 450px;
      }

      @media screen and (min-width: 900px) {
         width: 600px;
      }
   }
}

.input {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 10px;
   width: 100%;
   margin-top: 50px;

   @media screen and (min-width: 600px) {
      flex-direction: row;
   }

   &-child {
      outline: none;
      border: none;
      width: 100%;
      height: 48px;
      font-size: 14px;
      border-radius: 30px;
      padding: 17px 0 17px 26px;
      flex: 2;

      @media screen and (min-width: 900px) {
         width: 650px;
         height: 56px;
         font-size: 18px;
         padding: 19px 0 19px 35px;
      }

      @media screen and (min-width: 1200px) {
         width: 900px;
      }
   }

   &-btn {
      // position: absolute;
      // top: 0;
      // right: 0;
      outline: none;
      border: none;
      background-color: #ffc57f;
      color: #01321c;
      font-size: 16px;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 30px;
      height: 48px;
      flex: 1;
      font-weight: 700;

      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      @media screen and (min-width: 900px) {
         font-size: 20px;
         height: 56px;
      }
   }
}

.footer {
   svg {
      font-size: 37px;
      color: #01321c;
      cursor: pointer;
      transition: scale 0.3s ease-in-out;

      &:hover {
         scale: 1.3;
      }
   }

   &-design {
      font-size: 14px;
      pointer-events: none;

      svg {
         font-size: 2em;
      }
   }

   &-img {
      width: 200px;
   }

   &-line {
      height: 2px;
      background-color: #a1a1a1;
      margin-inline: 60px;
      margin-bottom: 10px;
   }

   &-designer {
      color: #01321c;
      background-color: #ffc57f;
      font-weight: 700;
      text-transform: uppercase;
      padding: 5px 10px;
      margin-inline: 3px;
      border-radius: 20px;
   }
}

.features {
   svg {
      width: 50px;
      height: 50px;
      color: #fff;
   }
}

.order {
   svg {
      width: 75px;
      height: 575px;
      color: #5e5e5e;
   }
}
